*{
    z-index: -999;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header_div{
    background-color: red;
    height: 981px;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
}

.moviePreviewImage{
    overflow: hidden;
    opacity: 30%;
    background-color: brown;
    width: 180px;
    height: 259px;
}

.header_sub_div{
    height: 259px;
}